* {
    font-family: "Cooper Black";
}
body {
    position: relative;
}
.container {
    padding-top:100px;
}
.wrapper {
    width: 1024px;
    margin: 50px auto;
}


/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}



  /*Jumbotron*/
h1 {
    font-size: 75px;
    text-emphasis: italic;
}
h2 {
    padding-top:50px;
}
.jumbotron {
    color: #ff9f00;
    font-style: italic;
    background-color: #FFFFFF;
    box-shadow: 0 8px 6px -6px black;
    height: 250px;
    margin: -30px auto;
}


/* Text Over Image on Home Page */
.centered {
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}


/*Profile Bio*/
h4{
    color: #ff9f00;
}
i {
    padding-left: 100px;
    line-height:20px;
}
#profile-info {
    color:#0000;
}

/*Sidebar*/
h3 {
    color:#ffff;
}
#sidebar {
    background-color: #ff9f00;
    padding: 25px;
    color: #FFFFFF;
}

#treat-img {
    max-width:200px;
}

/*Footer*/
footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #ff9f00;
    padding: 30px;
    background: #fff;
    box-shadow: 0 -8px 6px -6px black;
    margin-top:40px;
}
