* {
    font-family: "Cooper Black";
}

.wrapper {
    width: 1024px;
    margin: 50px auto;
}

.jumbotron {
    color: #ff9f00;
    font-style: italic;
    background-color: #FFFFFF;
    box-shadow: 0 8px 6px -6px black;
    height: 250px;
    margin: -30px auto;
}

h1 {
    font-size: 75px;
    text-emphasis: italic;
}

i {
    padding-left: 100px;
}

.container {
    padding-top:100px;
}

img {
    max-width: 200px;
}

/* Text Over Image on Home Page */
.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h2 {
    padding-top:50px;
}

body {
    position: relative;
    color: #FFFFFF;
}

#profile-info {
    color:#0000;
}

#sidebar {
    background-color: #ff9f00;
    padding: 100px;
}

footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #ff9f00;
    padding: 30px;
    background: #fff;
    box-shadow: 0 -8px 6px -6px black;
    margin-top:40px;
}
